body {
  margin: 0;
  overflow-x: hidden;
  background-color: #1c1c1c; 
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.hovered {
  background-color: #4b6584; 
  color: #ffffff; 
}

.nav {
  background-color: #2f3640;
  height: 6vh;
  width: 100%;
  font-style: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
  font-size: 1.2em;
  padding: 1em 1.5em;
  color: #dcdde1;
  transition: background-color 0.3s;
}

.nav-bar a:hover {
  background-color: #4b6584;
  color: #ffffff;
}

nav {
  unicode-bidi: isolate;
  display: block;
  font-family: "Roboto", serif;
  font-weight: 400;
}

#welcome-section {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  text-align: center;
  align-items: center;
  background: radial-gradient(125% 125% at 50% 10%, #141414 40%, #273c75 100%); 
}

.welcome {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: #dcdde1; 
}

.headings {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #f1f2f6; 
}

.body {
  font-family: "Roboto", serif;
  font-weight: 400;
}

.subhead {
  color: #a4b0be;
  font-size: 2em;
}

svg:hover{
  filter: drop-shadow(0 0 20px lightgrey);
}

.wel-text {
  color: #dcdde1;
  width: 90vw;
}

#projects {
  min-height: 100vh;
  max-width: 100vw;
  color: #dcdde1;
  background-color: #2d3436; 
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(85, 125, 190, 0.3),
    rgba(255, 255, 255, 0)
  );
}

.proj-head {
  text-align: center;
  padding: 10px;;
}

#contact {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dcdde1;
  background-color: #1e272e;
  background-image: radial-gradient(
    circle 500px at 50% 200px,
    #3d3d3d, 
    transparent
  );
}

.projects {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #f1f2f6;
}

.project {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 25vw;
  border-radius: 20px;
  background-color: #3a3a3a; 
  transition: border 0.3s, transform 0.3s;
}

.placeholder {
  height: 70vh;
  width:24vw;
}

.project:hover {
  border: #dcdde1 solid;
  cursor: pointer;
  transform: scale(1.05);
}

.project img {
  max-height: 38vh;
  max-width: 23vw;
  border-radius: 15px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cont {
  padding: 25px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
}

form {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 20px;
  background: #2c3e50; 
  opacity: 1;
  border: 2px solid #a4b0be; 
}

form input[type="text"], form input[type="email"] {
  height: 4vh;
  width: 20vw;
  border-radius: 5px;
  border: 1px solid #dcdde1;
  background-color: #1c1c1c;
  color: #ffffff;
}

form input[type="submit"] {
  padding-top: 10px;
  height: 4vh;
  width: 18vw;
  background-color: #4b6584;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}

.cont:hover {
  text-shadow: 0px 0px 10px #f1f2f6;
}

button {
  background: transparent;
  border: 0;
  color: inherit;
}

@media (max-width: 768px) {
  .headings {
    font-size: 2em;
  }

  .subhead {
    font-size: 1.5em;
  }

  .projects {
    flex-direction: column;
  }

  .project {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height :40vh;
    width: 90vw;
    margin: 10px 0;
    background-color: #3a3a3a;
  }

  .placeholder {
    height:25vh;
    width:90vw;
  }

  .project-cont {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

  }

  .proj-name {
    height: 10vh;
    text-align: center;
    align-items: center;
    grid-row: 1 / 1;
    grid-column: 1 / 3;
  }

  .project img {
    grid-row: 2 / 2;
    grid-column: 1 / 2;
    max-height: 38vh;
    max-width: 23vw;
    border-radius: 15px;
  }

  .proj-desc {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
    text-align: center;
  }
}
