*, *::before, *::after{
    box-sizing: inherit;
    /*&overflow-x: hidden;*/
  }

  * {
    padding:0;
    margin:0;
  }
  ul{
    list-style:none;
    display: flex;
    justify-content: flex-start;
  }
  
  .nav {
    background-color: #be3144;
    height: 6vh;
    width: 100vw;
    font-style: sans-serif;
    position:fixed;
    top:10px;
    left:0;
    padding:auto;
    z-index:10;
  }
  a:hover {
    background-color: #a52a3b;
    color: #fff;
  }
  .nav-bar a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 2rem;
  }

  .hovered {
    background-color: #a52a3b;
    color: #fff;
  }
  
  nav {
    unicode-bidi: isolate;
      display: block;
  }
  
  #welcome-section {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    height:100vh;
    align-items:center;
    width: 100vw;
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
    color:white;
  }

  .wel-head {
    font-size: 2.5em;
    color:#f5f5f5;
  }
  .subhead {
    color:#e0e0e0;
    font-size : 2em;
  }
  .wel-text {
    color: #cccccc;
    width:90vw;
  }
  #projects {
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100vh;
    align-items:center;
    width: 100vw;
    color:#cccccc;
    background-color: #0a0a0a; /* neutral-950 */
    background-image: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      rgba(120, 119, 198, 0.3),
      rgba(255, 255, 255, 0)
    );
  }
  #contact {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color:#cccccc;
    justify-content: center;
    background-color: #0f172a;
    background-image: radial-gradient(
      circle 500px at 50% 200px,
      #3e3e3e,
      transparent
    );
  }

  .projects {
    width:100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color:#f5f5f5;
  }

  h1 {
    font-size: 1.5em;
  }

  .project {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    border-radius: 20px;
  }

  .project:hover {
    border:#cccccc solid;
    cursor: pointer;
  }

  .project img {
    height:25vh;
    width: 10vw;
    border: radius 15px;
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cont {
    padding: 25px;
    cursor: pointer;
  }